*.txt
/__pycache__/*
/kdd_ddl3-3/*
/kdd_ddl3-2/*
kdd_ddl3-1/*
/.vscode/*
/Shared/__pycache__/*
/W1/__pycache__/*
/W2/__pycache__/*
/W3/__pycache__/*
/W1/kdd_ddl3-3/*
/W1/kdd_ddl3-2/*
/W1/kdd_ddl3-1/*
/W2/kdd_ddl3-3/*
/W2/kdd_ddl3-2/*
/W2/kdd_ddl3-1/*
/W3/kdd_ddl3-3/*
/W3/kdd_ddl3-2/*
/W3/kdd_ddl3-1/*
